<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssw.amazinggame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />



    <!-- 有米必备权限配置 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 本次演示所用Activity，本ctivity为竖屏，注意：复制代码时，请注意名字更换 -->
        <activity
            android:name="com.amazinggame.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 配置unity3d的activity -->
        <activity android:name="com.unity3d.player.UnityPlayerActivity" >
        </activity>

        <!-- 允许unity3d将事件传到DalvikVM的转发机制 -->
        <meta-data
            android:name="unityplayer.ForwardNativeEventsToDalvik"
            android:value="true" />

        <!-- 有米必备组件配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

            <!-- 有米视频广告组件 -->
            <activity
            android:name="net.youmi.android.video.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
            </activity>

        <!-- 有米积分广告所需组件 -->
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" >
        </service>

        <!-- （可选）设置有米广告推广渠道号，参数列表：http://wiki.youmi.net/Wiki/PromotionChannelIDs -->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="这里替换为非负整数的渠道号" >
        </meta-data>
    </application>

</manifest>
